<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UQ Trust Lab</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="has-navbar-fixed-top">
  {% include "navbar.html" %}

  {% block content %} {% endblock %}

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        &copy; 2023 Trust Lab, School of Information Technology and Electrical Engineering, The University of Queensland
      </p>
    </div>
  </footer>
</body>

</html>
