{% extends "base.html" %}

{% block content %}

<section class="hero is-halfheight is-uq">
  <div class="hero-body lake">
    <div class="lake-text">
      <h1 class="title">
        Trust Lab
      </h1>
      <h2 class="subtitle">
        The University of Queensland
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 my-2">About us</h4>
      <p>Trust Lab is a dynamic and rapidly growing cybersecurity research team based at the University of Queensland, Australia. Our team, led by A/Prof Guangdong Bai, is composed of passionate cybersecurity enthusiasts. We have established a wide network of collaborations with partner universities in Australia and research institutes globally, allowing us to draw on a diverse range of perspectives and expertise. Our research has been widely recognized, with publications in top-tier conferences and journals.</p>
    </div>
    <div class="column is-4">
      <div class="panel is-uq-light">
        <p class="panel-heading">
          Latest News
        </p>
        {% set section = get_section(path="news/_index.md") %}
        {% set pages = section.pages | sort(attribute="date") | reverse %}
        {% for page in pages %}
          {% if loop.index > 2 %} {% break %} {% endif %}
        <a class="panel-block">
          <span class="panel-icon">
          {% if page.extra.category == "paper" %}
            <i class="fa-solid fa-book-open"></i>
          {% elif page.extra.category == "other" %}
            <i class="fa-solid fa-newspaper"></i>
          {% endif %}
          </span>
          {{ page.title }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}
