{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h2 class="title is-3">Projects</h2>
  <hr>
  <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*KuGlXZjyTw7q38uzY_aZRA.png" alt="">
  <br>
  <p>Description</p>
    <section class="content">
      <ul style="list-style: none;">
        <li>
          <div class="block">
            <img src="https://www.zihan.com.au/assets/img/sp_cover.png" alt="">
            <div>
              <a href="https://www.zihan.com.au/assets/files/SP24CoreLocker.pdf" target="_blank">CoreLocker: Neuron-level Usage Control</a>
              <p>Zihan Wang, Zhongkui Ma, Xinguo Feng, Ruoxi Sun, Hu Wang, Minhui Xue, Guangdong Bai.<br>IEEE S&P 2024</p>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <img src="https://www.zihan.com.au/assets/img/usenix24.png" alt="">
            <div>
              <a href="https://www.usenix.org/system/files/sec24fall-prepub-2516-liu-shuofeng.pdf" target="_blank">Being Transparent is Merely the Beginning: Enforcing Purpose Limitation with Polynomial Approximation</a>
              <p>Shuofeng Liu, Zihan Wang, Minhui Xue, Long Wang, Yuanchao Zhang, Guangdong Bai.<br>USENIX Security 2024</p>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <img src="https://zhongkuima.github.io/imgs/24popl_relu_hull/wralu.png" alt="">
            <div>
              <a href="#" target="_blank">ReLU Hull Approximation</a>
              <p>Zhongkui Ma, Jiaying Li, Guangdong Bai.<br>POPL 2024</p>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <img src="" alt="">
            <div>
              <a href="#" target="_blank">Enhancing Federated Learning Robustness using Data-Agnostic Model Pruning</a>
              <p>Mark Huasong Meng, Sin Gee Teo, Guangdong Bai, Kailong Wang, Jin Song Dong.<br>PAKDD 2023</p>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <img src="" alt="">
            <div>
              <a href="#" target="_blank">Uncovering Gradient Inversion Risks in Practical Language Model Training</a>
              <p>Xinguo Feng, Zhongkui Ma, Zihan Wang, Chegne Eu Joe, Mengyao Ma, Alsharif Abuadbba, Guangdong Bai.<br>ACM CCS 2024</p>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <img src="" alt="">
            <div>
              <a href="#" target="_blank">Unveiling Intellectual Property Vulnerabilities of GAN-Based Distributed Machine Learning through Model Extraction Attacks</a>
              <p>Mengyao Ma, Shuofeng Liu, Pathum Chamikara Mahawaga Arachchige, Mohan Baruwal Chhetri, Guangdong Bai.<br>CIKM 2024</p>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <img src="" alt="">
            <div>
              <a href="#" target="_blank">LoDen: Making Every Client in Federated Learning a Defender Against the Poisoning Membership Inference Attacks</a>
              <p>Mengyao Ma, Yanjun Zhang, Leo Yu Zhang, Pathum Chamikara Mahawaga Arachchige, Mohan Baruwal Chhetri, Guangdong Bai.<br>ASIACCS 2023</p>
            </div>
          </div>
        </li>
      </ul>
    </section>
</section>

{% endblock content %}