{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h3 class="title is-3">Projects</h3>
  <hr>

  <section class="content">
    <ul style="list-style: none;">
      <li>
        <div class="block">
          <img src="https://aisecure.github.io/PROJECTS/files/Improving-Certified.png" alt="">
          <div>
            <a href="https://baiqinevaeh.github.io/project-description/" target="_blank">Project 4 ed Robustness via Statistical Learning with Logical Reasoning</a>
            <p >Zhuolin Yang, Zhikuan Zhao, Boxin Wang, Jiawei Zhang, Linyi Li, Hengzhi Pei, Bojan Karlaš, Ji Liu, Heng Guo, Ce Zhang, Bo Li.</p>
            <p >NeurIPS 2022</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="https://aisecure.github.io/PROJECTS/files/care.jpg" alt="">
          <div>
            <a href="https://baiqinevaeh.github.io/project-description/" target="_blank">CARE: Certifiably Robust Learning with Reasoning via Variational Inference</a>
            <p>Jiawei Zhang, Linyi Li, Ce Zhang, Bo Li.</p>
            <p>SaTML 2022</p>
          </div>
        </div>
      </li>
      <li>
        <a href="https://baiqinevaeh.github.io/project-description/" target="_blank">Nudging interpretation and development of privacy policies</a>
      </li>
      <li>
        <a href="https://xie00059.github.io/SE-Projects/" target="_blank">Privacy assessment and enhancement of platforms</a>
      </li>
      <li>
        <a href="https://yanchuan390.github.io/chuan.project.github.io/" target="_blank">Privacy documentation analysis and applications</a>
      </li>
      <li>
        <a href="/projects/mob/" target="_blank">Reliable Model Conversion</a>
      </li>
      <li>
        <a href="https://mmmmmyy.github.io/privacy-preserving-FL-Project/" target="_blank">Information exfiltration in federated learning</a>
      </li>
      <li>
        <a href="https://shanefeng123.github.io/page/" target="_blank">Security and privacy of neural networks in distributed learning</a>
      </li>
    </ul>
  </section>

</section>

{% endblock content %}
