{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h2 class="title is-3">Projects</h2>
  <hr>
  <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*KuGlXZjyTw7q38uzY_aZRA.png" alt="">
  <br>
  <p>Description</p>
  <section class="content">
    <ul style="list-style: none;">
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Investigating Users' Understanding of Privacy Policies of Virtual Personal Assistant Applications</a>
            <p>Baiqi Chen, Tingmin Wu, Yanjun Zhang, Mohan Baruwal Chhetri, Guangdong Bai.<br>ASIACCS 2023</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

</section>

{% endblock content %}
