{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h3 class="title is-3">Projects</h3>
  <hr>

  <section class="content">
    <ul style="list-style: none;">
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Exploring ChatGPT App Ecosystem: Distribution, Deployment and Security</a>
            <p>Chuan Yan, Ruomai Ren, Mark Huasong Meng, Liuhuo Wan, Tian Yang Ooi, Guangdong Bai.<br>ASE 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Large Language Models can Connect the Dots: Exploring Model Optimization Bugs with Domain Knowledge-aware Prompts</a>
            <p>Hao Guan, Yepang Liu, Guangdong Bai.<br>ISSTA 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Investigating Documented Privacy Changes in Android OS</a>
            <p>Chuan Yan, Mark Huasong Meng, Fuman Xie, Guangdong Bai.<br>FSE 2024</p>
          </div>
        </div>
      </li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Don't Bite Off More than You Can Chew: Investigating Excessive Permission Requests in Trigger-Action Integrations</a>
            <p>Liuhuo Wan, Kailong Wang, Kulani Mahadewa, Haoyu Wang, Guangdong Bai.<br>WWW 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Is It Safe to Share Your Files? An Empirical Security Analysis of Google Workspace</a>
            <p>Liuhuo Wan, Kailong Wang, Haoyu Wang, Guangdong Bai.<br>WWW 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Are Your Requests Your True Needs? Checking Excessive Data Collection in VPA Apps</a>
            <p>Fuman Xie, Chuan Yan, Mark Huasong Meng, Shaoming Teng, Yanjun Zhang, Guangdong Bai.<br>ICSE 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">On the Quality of Privacy Policy Documents of Virtual Personal Assistant Applications</a>
            <p>Chuan Yan, Fuman Xie, Mark Huasong Meng, Yanjun Zhang, Guangdong Bai.<br>PETS 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Post-GDPR Threat Hunting on Android Phones: Dissecting OS-level Safeguards of User-unresettable Identifiers</a>
            <p>Mark Huasong Meng, Qing Zhang, Guangshuai Xia, Yuwei Zheng, Yanjun Zhang, Guangdong Bai, Zhi Liu, Sin Gee Teo, Jin Song Dong.<br>NDSS 2023</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="" alt="">
          <div>
            <a href="#" target="_blank">Scrutinizing Privacy Policy Compliance of Virtual Personal Assistant Apps</a>
            <p>Fuman Xie, Yanjun Zhang, Chuan Yan, Suwan Li, Lei Bu, Kai Chen, Zi Huang, Guangdong Bai.<br>ASE 2022</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

</section>

{% endblock content %}
