{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h3 class="title is-3">Projects</h3>
  <hr>

  <section class="content">
    <ul style="list-style: none;">
      <li>
        <div class="block">
          <img src="https://raw.githubusercontent.com/UQ-Trust-Lab/UQ-Trust-Lab.github.io/master/static/covers/grab_ccs.webp" alt="">
          <div>
            <a href="#" target="_blank">Uncovering Gradient Inversion Risks in Practical Language Model Training</a>
            <p>Xinguo Feng, Zhongkui Ma, Zihan Wang, Chegne Eu Joe, Mengyao Ma, Alsharif Abuadbba, Guangdong Bai.<br>ACM CCS 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="https://raw.githubusercontent.com/UQ-Trust-Lab/UQ-Trust-Lab.github.io/master/static/covers/moex_cikm.webp" alt="">
          <div>
            <a href="#" target="_blank">Unveiling Intellectual Property Vulnerabilities of GAN-Based Distributed Machine Learning through Model Extraction Attacks</a>
            <p>Mengyao Ma, Shuofeng Liu, Pathum Chamikara Mahawaga Arachchige, Mohan Baruwal Chhetri, Guangdong Bai.<br>CIKM 2024</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="https://raw.githubusercontent.com/UQ-Trust-Lab/UQ-Trust-Lab.github.io/master/static/covers/yao_asiaccs.webp" alt="">
          <div>
            <a href="#" target="_blank">LoDen: Making Every Client in Federated Learning a Defender Against the Poisoning Membership Inference Attacks</a>
            <p>Mengyao Ma, Yanjun Zhang, Leo Yu Zhang, Pathum Chamikara Mahawaga Arachchige, Mohan Baruwal Chhetri, Guangdong Bai.<br>ASIACCS 2023</p>
          </div>
        </div>
      </li>

    </ul>
  </section>
  
  

{% endblock content %}
