{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h3 class="title is-3">Projects</h3>
  <hr>

  <section class="content">
    <ul style="list-style: none;">
      <li>
        <div class="block">
          <img src="https://aisecure.github.io/PROJECTS/files/Improving-Certified.png" alt="">
          <div>
            <a href="https://baiqinevaeh.github.io/project-description/" target="_blank">Improving Certified Robustness via Statistical Learning with Logical Reasoning</a>
            <p >Zhuolin Yang, Zhikuan Zhao, Boxin Wang, Jiawei Zhang, Linyi Li, Hengzhi Pei, Bojan Karlaš, Ji Liu, Heng Guo, Ce Zhang, Bo Li.</p>
            <p >NeurIPS 2022</p>
          </div>
        </div>
      </li>
      <li>
        <div class="block">
          <img src="https://aisecure.github.io/PROJECTS/files/care.jpg" alt="">
          <div>
            <a href="https://baiqinevaeh.github.io/project-description/" target="_blank">CARE: Certifiably Robust Learning with Reasoning via Variational Inference</a>
            <p>Jiawei Zhang, Linyi Li, Ce Zhang, Bo Li.</p>
            <p>SaTML 2022</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

</section>

{% endblock content %}
