{% extends "base.html" %}

{% block content %}


<section class="section container">
  <h1 class="title is-3" style="text-align: center; font-size: 2.5em;">TrustLab Projects</h1>
  <hr>
  <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*KuGlXZjyTw7q38uzY_aZRA.png" alt="">
  <br><br>
  <p style="background-color: #E6E6FA; padding: 10px;">
    Hi ALL, <br>
    <br>
    Below are the projects from our TrustLab. Following Prof. Bai's guidance, we aim to systematically categorize these projects into groups and clearly visualize them on this page (the placeholder image will be the blue map). You can click on each subgroup to view detailed content and corresponding publications.
    <br>
    <br>
    <b>PLEASE submit a cover image for your publication.</b>
    <br>
    <br>
    <b>We also need to discuss how to organize these projects, as they are currently arranged somewhat randomly. Additionally, please let me know if any projects are missing—we publish FREQUENTLY, so it’s easy to overlook something!</b>
    <br>
    <br>
    <b>We would like to extend our thanks to <u>Chi Wang</u> and Hao Guan for their contribution.</b>
    <br>
    <br>
    Thanks,
    <br>
    Zihan
    </p>    
    <br>
  <a href="/projects/project1/" style="font-size: 1.5em; font-weight: bold; color: purple;">ML Projects 1</a>
  <br>
  <p>Description for ML Projects 1</p>
  <br>

  <a href="/projects/project2/" style="font-size: 1.5em; font-weight: bold; color: purple;">ML Projects 2</a>
  <br>
  <p>Description for ML Projects 2</p>
  <br>

  <a href="/projects/project3/" style="font-size: 1.5em; font-weight: bold; color: purple;">SE Projects 1</a>
  <br>
  <p>Description for SE Projects 1</p>
  <br>

  <a href="/projects/project4/" style="font-size: 1.5em; font-weight: bold; color: purple;">SE Project 2</a>
  <br>
  <p>Description for SE Projects 2</p>
  <br>

</section>

{% endblock content %}

