{% extends "base.html" %}

{% block content %}

<section class="section container">
  <h3 class="title is-3">Projects</h3>
  <hr>

  <div class="card mx-5 mt-6">
    <div class="card-content">
      <p class="title is-4">
        SKIPPER: SKIll Privacy Policy cleanER
      </p>
      <p class="subtitle is-6">
        Fuman Xie
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          View the <a>paper</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Checkout the <a>code</a>
        </span>
      </p>
    </footer>
  </div>

  <div class="card mx-5 mt-6">
    <div class="card-content">
      <p class="title is-4">
        U2-I2: An one-stop solution to explore user unresettable identifiers (UUIs) leakage on your Android smartphone.
      </p>
      <p class="subtitle is-6">
        Mark Meng, Guangdong Bai
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Visit the <a>website</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          View the <a>paper</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Checkout the <a>code</a>
        </span>
      </p>
    </footer>
  </div>
</section>

{% endblock content %}
